
.Chat .Header{
    height: 13%;
    background-color: rgb(138, 138, 138);
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgba(90, 187, 231, 0.6);
}

.Header .tituloChat {
    height: 60%;
    width: 20%;
    margin: 2% 0% 2% 35%;
    float: left;
}

.Header .tituloChat .imgChat {
    height: 80%;
    float: left;
    margin: 0px;
}

.Messages{
    height: 67%;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.541);
    overflow: auto;
}

.Messages li{
    height: 10%;
    width: 51%;
    display: flex;
    flex-direction: column;
}

.izquierda{
    float: left;
}

.derecha{
    float: right;
    margin-right: 5%;
}

.centro{
    margin: 1% 30%;
}

.centro .text{
    border: 1vh double black;
    border-radius: 5px;
    opacity: 0.7;
}

.Messages .izquierda .imgAvatar{
    height: 10vh;
    width: auto;
    float: left;
}

.Messages .derecha .imgAvatar{
    height: 10vh;
    width: auto;
    float: right;
}

.Messages .izquierda .sender{
    text-align: left;
    font-weight: bold;
    font-size: calc(5px + 1.5vmin);
    text-transform: uppercase;
    margin-left: 20%;
    -webkit-text-stroke: 0.5px black;
    color: transparent; 
}

.Messages .derecha .sender{
    text-align: right;
    font-weight: bold;
    font-size: calc(5px + 1.5vmin);
    text-transform: uppercase;
    margin-right: 20%;
    -webkit-text-stroke: 0.5px black;
    color: transparent; 
}

.flecha-izquierda{
    display: inline-block;
    margin-right: 0px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(0, 0, 0);
}

.flecha-derecha{
    display: inline-block;
    margin-right: 0px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(0, 0, 0); 
}

.text{
    display: inline-block;
    width: 70%;
    padding: 1%;
    background-color: rgb(151, 189, 231);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    font-size: calc(3px + 2vmin);
    border: 2px solid black;
    word-wrap: break-word;
}

.Messages .izquierda .date{
    color: #777;
    font-style: italic;
    font-size: calc(5px + 1vmin);
    text-align: right;
    margin-right: 15%;
    margin-top: 2%;
}

.Messages .derecha .date{
    color: #777;
    font-style: italic;
    font-size: calc(5px + 1vmin);
    text-align: left;
    margin-left: 15%;
    margin-top: 2%;
}

.FormMessage{
    height: 20%;
    width: 100%;
    background-color: #73818a;
}

.FormMessage form{
    margin: 3% 2% 3% 10%;
}

.FormMessage input{
    padding: 1%;
    width: 60%;
    border: solid 3px #4e5558;
    margin-right: 3%;
}

.FormMessage button{
    background-color: #4a9ab3;
    color: rgb(10, 9, 9);
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.Messages::-webkit-scrollbar {
    -webkit-appearance: none;
}

.Messages::-webkit-scrollbar:vertical {
    width:10px;
}

.Messages::-webkit-scrollbar-button:increment,.Messages::-webkit-scrollbar-button {
    display: none;
} 

.Messages::-webkit-scrollbar:horizontal {
    height: 10px;
}

.Messages::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.Messages::-webkit-scrollbar-track {
    border-radius: 10px;  
}