.FormCodigoVerificacion{
    height: 80vh;
    width: 100vw;
}

.CodigoVerificacion form div label{
    height: 6vh;
    width: 40%;
}

.CodigoVerificacion form div input{
    width: 40%;
}

.CodigoVerificacion button {
    height: 5vh;
    background-color: rgb(101, 172, 128);
    color: black;
    margin: 2% auto;
}