
.Decision{
    height: 60vh;
    width: 100vw;
}

.DecisionJuego .iconHistorial{
    height: 45%;    
    float: left;
    margin: auto 0.5%;
}

.DecisionJuego .iconHistorial:hover{
    padding-bottom: 4px;
    cursor: pointer;
    border-radius: 17px;
    -webkit-transition: border-radius 2s;
    transition: border-radius 2s;
}

.DecisionJuego .imgLogo{
    height: 40%;
    border-radius: 70px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    
}

.DecisionJuego h1{
    font-size: calc(10px + 4vmin);
    margin: 3% 20%;
}

.respuestaBotones{
    height: 20vh;
    width: 100vw;
    margin-top: -10px;
}

.DecisionJuego button {
    height: 8vh;
    width: 20vw;
}

.btnModoMultijugador{
    background-color: rgb(129, 33, 153);
    color: white;
    float: left;
}

.btnModoIndividual{
    background-color: rgb(255, 231, 13);
    color: black;
    float: right;
}

.Footer{
    height: 20vh;
    width: 100vw;
}



.DecisionJuego .iconCompras{
    height: 9vh;
    width: 5vw;
    float: left;
    margin: auto 10% auto 28%;
}

.DecisionJuego .iconCompras:hover{
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-transition: border-radius 2s;
    transition: border-radius 2s;
}

.DecisionJuego .iconRanking{
    height: 8vh;
    width: 5vw;
    float: left;
    margin: auto auto auto 4.5%;
}

.DecisionJuego .iconRanking:hover{
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-transition: border-radius 2s;
    transition: border-radius 2s;
}

.DecisionJuego .iconUsuario{
    height: 9vh;
    width: 4vw;
    float: right;
    margin: auto 28% auto 10%;
}

.DecisionJuego .iconUsuario:hover{
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-transition: border-radius 2s;
    transition: border-radius 2s;
}

.Decision .btn.btn-primary{
    background-color:rgb(129, 33, 153);
    border: none;
}

.Decision .btn.btn-primary:hover{
    background-color:rgb(155, 54, 238);
}


.Decision .btn.btn-secondary{
    background-color:rgb(250, 189, 46);
}

.Decision .btn.btn-secondary:hover{
    background-color:rgb(219, 182, 95);
}