.PerfilUsuario .Header{
    height: 20%;
    width: 100%;
}

.InfoPerfilUsuario{
    height: 80%;
    width: 100%;
}

.itemsComprados{
    width: 80%;
    display: inline-table;
    float: left;
    margin: 1% auto 1% 15%;
}



.btnLogOut{
    display: flex;
    flex-direction: column;
    margin: 10% 10% auto 40%;
}
/*
.color{
    position:absolute;
    height:140px;
    width:140px;
    top: 40px;
    left : 40px;
    z-index: 1;
  }
  
.objeto{
    position:absolute;
    height:140px;
    width:140px;
    z-index: -1;
}*/