
.FormInicio{
    height: 60vh;
    width: 100vw;
}

.MenuInicio .imgLogo{
    height: 42%;
    margin-bottom: 5vh;
    border-radius: 70px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-left: 125px;
}

.MenuInicio .iconHelp{
    height: 30%;
}

.MenuInicio form div label{
    height: 6vh;
    width: 25vw;
}

.MenuInicio form div input{
    width: 40vw;
    display: flex;
    height: auto;
    border: 3px solid rgba(0,0,0,.1);
    border-radius: 8px;
    background: #f8f4e5;
}

.MenuInicio button {
    height: 5vh;
    background-color: white;
    color: black;
}

.FooterInicio{
    height: 20vh;
    width: 100vw;
}

.btnContraseñaOlvidada{
    float: left;
    margin: 5% 5%;
}

.btnRegistrarse{
    float: right;
    margin: 5% 5%;
}