
.UnirseAPartida p{
    text-transform: uppercase;
    font-size: calc(5px + 2vmin);
    margin: 2% 20%;
}

.UnirseAPartida{
    height: 350px;
}

.introducirCode{
    display: flex;
    flex-direction: row;
    margin-left: center;
}

.introducirCode button{
    margin-left: 5%;
}

.CrearPartida{
    height: 60vh;
    width: 100vw;
}

.ModoMultijugador h1{
    text-transform: uppercase;
    font-size: calc(10px + 4vmin);
    margin: 2% 20%;
}

.btn.primary-btn{
    margin-top: 10px;
    background-color: rgb(13,110,253);
    cursor: pointer;
    color: white;
}
.btn.primary-btn:hover{
    background-color: rgb(37, 102, 199);
}
