
.FormCrearMultijugador{
    height: 80vh;
    width: 100vw;
}

.filSelect{
    height: 20vh;
}

.MultijugadorCrear p{
    text-transform: uppercase;
    font-size: calc(5px + 2vmin);
    margin: 2% 20%;
}

.MultijugadorCrear select{
    width: 8%;
    height: 20%;
}
   