
.infoRespuesta{
    height: 80%;
    width: 50%;
}

.iconCorrecta{
    margin-left: 15%;
    margin-bottom: 5%;
}

.infoCorrecta{
    width: 50%;
    height: 40%;
    text-align: center;
    color: rgb(113, 187, 113);
    border: 5px solid rgb(107, 207, 103);
}