.Header .tituloTienda{
    height: 100%;
    width: 40%;
    margin: 2% 0% 2% 35%;
    float: left;
}

.Header .tituloTienda .imgTienda{
    height: 50%;
    float: left;
    margin-right: 0px;
}

.Header .tituloTienda h1{
    margin-left: 4%;
}

.InfoTienda{
    height: 80%;
    width: 100%;
}

.infoMonedas{
    width: 100%;
    height: 5%;
    margin: 0%;
}

.infoMonedas tr{
    float: right;
    margin: 0% 10%;
}

.itemsNoComprados{
    width: 95%;
    height: 95%;
    margin: 1% auto 1% 5%;
    overflow: auto;
}

.itemCategory{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
}

.itemCategory h1{
    text-align: left;
    text-transform: uppercase;
    font-size: calc(10px + 3vmin);
    margin-left: 2%;
}

.item{
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 20%;
    float: left;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.itemsNoComprados::-webkit-scrollbar {
    -webkit-appearance: none;
}

.itemsNoComprados::-webkit-scrollbar:vertical {
    width:10px;
}

.itemsNoComprados::-webkit-scrollbar-button:increment,.itemsNoComprados::-webkit-scrollbar-button {
    display: none;
} 

.itemsNoComprados::-webkit-scrollbar:horizontal {
    height: 10px;
}

.itemsNoComprados::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.itemsNoComprados::-webkit-scrollbar-track {
    border-radius: 10px;  
}